/* conteúdos gerais */

* { 
box-sizing: border-box;
}

img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

/* barra fixa de cima */

header {
    background-color: #CF2B2B;
    width: 100%;
    height: 92px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 1;
}

header h1 {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    margin: 8px 0px 5px 21px;
    width: 248px;
    height: 44px;
}

header p {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 18px 21px;
    width: 226px;
    height: 17px;
}

/* corpo */

.conteudo {
    margin: 92px 0px;
    background-color: #E5E5E5;
}

h2 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    width: 320px;
    height: 25px;
    color: #333333;
}

.conteudo__pratos {
    padding: 31px 19px 27px 19px;
}

.conteudo__bebidas {
    padding: 0px 19px;
}

.conteudo__sobremesas {
    padding: 27px 19px 16px 19px;
}

h3 {
    width: 139px;
    height: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin: 8px 4px 4px 1px;
}

article p:nth-child(3) {
    width: 147px;
    height: 39px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

article p:nth-child(4) {
    width: 66px;
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0px 78px 0px 0px;
}

/* ver se dá pra deixar os nomes iguais no final */
.conteudo__pratos__opcoes, .conteudo__bebidas__opcoes, .conteudo__sobremesas__opcoes {
    display: flex;
    overflow-x: scroll;
    margin-top: 17px;
}

article {
    background-color: #FFFFFF;
    padding: 18px 14px 13px 14px;
    width: 172px;
    height: 216px;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25); /*inset 0px 0px 0px 5px #32B72F;*/
    border-radius: 9px;
    position: relative;
}

article ion-icon {
    display: none;
}

/* barra fixa de baixo */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;
    z-index: 1;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background-color: #CBCBCB;
    height: 53px;
    width: 94%;
    border-radius: 50px;
    border: none;
    margin: 19px 3vw;
}

.conteudo--selecionar__icone {
    display: block;
    font-size: 16px;
    color: #32B72F;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15.78px;
}

.conteudo--selecionar {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}
